	<%- partial('_partial/head') %>
 	<body>
	  <%- partial('_partial/navigation') %>
	  <div class="container" >
	    <%- body %>
			<footer>
				<%- partial('_partial/footer') %>
			</footer>
	  </div>

		<script src="<%- config.root %>libs/bs/js/bootstrap.min.js"></script>
		<!-- material design -->
		<script src="<%- config.root %>libs/bs-material/js/ripples.js"></script>
		<script src="<%- config.root %>libs/bs-material/js/material.js"></script>
		<!-- toc -->
		<script src="<%- config.root %>libs/tocify/jquery-ui.custom.min.js"></script>
		<script src="<%- config.root %>libs/tocify/jquery.tocify2.js"></script>

		<script src="<%- config.root %>js/main.js"></script>

	</body>
</html>
