<p>dont count the days, make the days count</a>
</p>
<p><% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.author %></a>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.title %></a>
  <% } %>
</p>
