<p>我们是来自贴吧搞前端的一群熊孩子:()</a>
</p>
<p><% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.author %></a>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.title %></a>
  <% } %>
</p>
